
h1 {
  font-family: 'Berkshire Swash';
  font-size: 32px;
}

h2, h3, h4, h5, p {
  font-family: 'Libre Baskerville';
}


h2 {
  font-size: 20px;
  color: #E4D7C4;
}


/* SOCIAL BUTTONS */
.social {
  /* overflow: auto; */
  /* width: 100%; */
  /* background: #005249; */
  /* background: #FF5722; */
   /*
  Un-comment and change below
  flow to 'right' to put social
  links on top of the picture.
  position: absolute;
  top: 20%;
  right: 1.5%;
  */

  padding-left: 20%;

 }
 
 .social li {
  list-style-type: none;
  float: left;
  padding-right: 5px;
  
 
 }
 
 ul li a i {
  /* background: white; */
  color: #E4D7C4;
  /* color: #FF5722; */
  /* width: 42px; */
  /* height: 42px; */
  font-size: 28px;
  align-content: center;
  /* margin-right: 5px; */
  /* padding-top: 15%; */
  padding-left: 20px;
  padding-right: 20px;

 
 
  /* color of social buttons */
 }

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  /* background-color: #005249 !important;
  border-color: #005249; */
  background-color: #334d2f !important;
  border-color: #334d2f;
  color: #E4D7C4;
  font-family: 'Libre Baskerville';
  
} 

/* FONTS. From google. Not sure if we need this? */
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }

  .berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
  }
  